button.ant-btn.css-dev-only-do-not-override-1km3mtt.ant-btn-primary.btn-xct {
  background-color: steelblue;
}
.action-admin {
  margin-bottom: 10px;
}
.btn-edit {
  background-color: rgb(54, 213, 29);
}
button.ant-btn.css-dev-only-do-not-override-1km3mtt.ant-btn-primary.btn-gold {
  margin-bottom: 10px;
}
.navSearch {
  color: var(--color-white);
  padding-right: 20px;
  display: flex;
  justify-content: left;
}
