button.ant-btn.css-dev-only-do-not-override-1km3mtt.ant-btn-primary.btn-xct {
  background-color: steelblue;
}
.action-admin {
  margin-bottom: 10px;
}
.btn-edit {
  background-color: rgb(54, 213, 29);
}
