/* Navber */
.navbar-nav a{
  font-size: 18px;
}
p.erro {
  text-align: -webkit-left;
  padding-top: 10px;
  color: red;
}
.card-header{
  background-color: #e8e1dd !important;
}
.card-header h1{
  text-align: justify;
}

  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
    height: 850px;
}