*{
  text-decoration: none !important;
  list-style: none;
}
/* Navber */
.navbar-nav a{
  font-size: 18px;
}
p.erro {
  text-align: -webkit-left;
  padding-top: 10px;
  color: red;
}
.card-header{
  background-color: #e8e1dd !important;
}
.card-header h1{
  text-align: justify;
}
.col-md-6 {
    flex: 0 0 auto;
    width: 50%;
    height: 850px;
}
button.btn.btn-outline-dark.px-4.py-2.buyProduct {
  display: block;
  margin: 10px auto 100px;
  align-items: center;
}
.btn-delete:hover{
  background-color: red !important;
}

@media screen and (max-width:750px) {
  .focus {
    position: relative;
  }
  div#navbarSupportedContent {
    position: absolute;
    display: block;
    left: 0;
    top: 70px;
    z-index: 10000;
    text-align: center;
    width: 100%;
    background: aliceblue;
    padding-bottom: 20px;
    padding: 20px;
  }
  .transition{
    transform: translateY(0px);

  }
  .navbar-nav a {
    font-size: 40px;
}


  #mobile-menu{
    display: none;
  }
  
}


/* footer */
.item{
  width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 27px 0;
    border-right: 1px solid rgba(246, 243, 228, 0.1);
    font-size: 50px;
}

.col.col-md-3.footer-item {
  background: #212529;
}
a.item-color {
  color: whitesmoke;
}
a.item-color:hover{
  color: #e8e1dd;
}
.item-item {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 20px;
}
.social-network{
  font-size: 40px;
}
i.fa.fa-youtube-play,
i.fa.fa-facebook,
i.fa.fa-instagram {
  padding-right: 20px;
}
.copyright {
  display: flex;
  margin-bottom: 35px;
  justify-content: center;
  border-top: 1px solid #313130;
  padding-top: 20px;
}


/* paginatinal------------------ */
.pageNumber{
  display: flex;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  padding-top: 30px;
}
.number,
.previous {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  text-align: center;
  margin: 1px;
  cursor: pointer;
}

.number:focus{
  border-color: #313130 ;
  outline: #212529 ;
}
.previous:focus{
  border-color: #313130 ;
  outline: #212529 ;
}




.col-md-3.mb-4:hover {
  transform: translateY(-5px);
  box-shadow:2px 2px 5px  #313130;
}