*{
  text-decoration: none !important;
  list-style: none;
}
/* Navber */
a.btn.btn-outline-dark.login {
  position: relative;
}
.login:hover>a.btn.btn-outline-dark.log_out{
  display: block;
  border-radius: 0 0 5px 5px;
}
a.btn.btn-outline-dark.log_out {
  position: absolute;
  top: 35px;
  left: 0px;
  right: 0px;
  z-index: 10;
  display: none;
  border-radius: none;
}
a.btn.btn-outline-dark.log_out:hover{
  background-color: #313130;
  color: aliceblue;
}
.navbar-nav a{
  font-size: 18px;
}
p.erro {
  text-align: -webkit-left;
  padding-top: 10px;
  color: red;
}
.card-header{
  background-color: #e8e1dd !important;
}
.product_item{
  background-color: #ccc;
}
input.inputSearch.form-control {
  margin-left: 30px;
}
.navSearch{
  color:var(--color-white);
  padding-right: 20px;
  display: flex;
  justify-content: center;

  &:hover .iconSearch{
      color: black;
  }
   
  .iconSearch{
      width: 20px;
      height: 20px;
      cursor: pointer;
      transform: translateX(24px) translateY(13px);
      color: #bbb;
  }

  input {
      font-size: 14px;
      border: 1px solid #fff;
      color: black;
      outline: none;
      width: 0;
      padding: 10px;
      cursor: pointer;
      opacity: 0;
      background:#ccc;
      transition: width 0.5s;

      &:focus{
          padding-left: 26px;
          width: 300px;
          cursor: text;
          opacity: 1;
          border-radius: 4px;
      }
  }
}
button.ant-btn.css-dev-only-do-not-override-1km3mtt.ant-btn-default.ant-dropdown-trigger {
  height: auto;
}
.css-dev-only-do-not-override-1km3mtt.ant-btn-default:not(:disabled):hover {
  color: white;
  background: black;
}
.buttons{
  display: flex;
}
.card-header h1{
  text-align: justify;
}
.numberOf {
  text-align: center !important;
  padding-right: 30px !important;
  padding-left: 20px !important;
  font-size: 18px !important;
  font-weight: 700 !important ;
}
.col-md-12.buyProduct_item.header{
  font-size: 25px;
  font-weight: 800;
  text-align: center;
}
.container.product_item {
  margin-bottom: 20px;
}
.py-4.buyProduct {
  text-align: center;
}
.col-md-12.buyProduct_item,
.col-md-3.buyProduct_item {
  text-align: center;
  font-weight: 700;
}
.display-5{
  font-size: 20px !important;
}
.col-md-6 {
    flex: 0 0 auto;
    width: 50%;
}
button.btn.btn-outline-dark.px-4.py-2.buyProduct {
  display: block;
  margin: 10px auto 100px;
  align-items: center;
}
.color-item {
  color: red;
  font-size: 20px;
  padding: 20px 0 0px;
  font-weight: 700;
}
.color {
  display: flex;
  width: 100%;
  cursor: pointer;
}
.colorProduct:hover{
  background-color: #ccc;
  color: #fff;
}
.colorProduct {
  text-align: center;
  width: 80px;
  padding-bottom: 10px;
  border-radius: 5px;
  margin: 0 5px;
}
img.selectColor {
  width: 50px;
  border-radius: 30px;
}
.btn-delete:hover{
  background-color: red !important;
}

@media screen and (max-width:750px) {
  .focus {
    position: relative;
  }
  div#navbarSupportedContent {
    position: absolute;
    display: block;
    left: 0;
    top: 70px;
    z-index: 10000;
    text-align: center;
    width: 100%;
    background: aliceblue;
    padding-bottom: 20px;
    padding: 20px;
  }
  .transition{
    transform: translateY(0px);

  }
  .navbar-nav a {
    font-size: 40px;
}


  #mobile-menu{
    display: none;
  }
  
}


/* footer */
.item{
  width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 27px 0;
    border-right: 1px solid rgba(246, 243, 228, 0.1);
    font-size: 50px;
}

.col.col-md-3.footer-item {
  background: #212529;
}
a.item-color {
  color: whitesmoke;
}
a.item-color:hover{
  color: #e8e1dd;
}
.item-item {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 20px;
}
.social-network{
  font-size: 40px;
}
i.fa.fa-youtube-play,
i.fa.fa-facebook,
i.fa.fa-instagram {
  padding-right: 20px;
}
.copyright {
  display: flex;
  margin-bottom: 35px;
  justify-content: center;
  border-top: 1px solid #313130;
  padding-top: 20px;
}


/* paginatinal------------------ */
.pageNumber{
  display: flex;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  padding-top: 30px;
}
.number,
.previous {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  text-align: center;
  margin: 1px;
  cursor: pointer;
}

.number:focus{
  border-color: #313130 ;
  outline: #212529 ;
}
.previous:focus{
  border-color: #313130 ;
  outline: #212529 ;
}




.card.h-100.text-center.p-4:hover {
  transform: translateY(-20px);
  box-shadow: 2px 2px 5px #313130;
}

/* alert----- */
/* div#root {
  position: relative;
}
.hero {
  position: relative;
} */
